body    {
            background-color: beige;
        }
h1 
        {
            background-color: aquamarine;
            color: blue;
            font-family: "Press Start 2P", system-ui;
            font-weight: 400;
            font-style: normal;
            border-style: outset;
        }
              
section
        {
            font-family: "consolas", sans-serif;
        }
h3 
        {
            background-color: aquamarine;
            color:blue ;
            font-family: "Press Start 2P", system-ui;
            font-weight: 400;
            font-style: normal;
            border-style: outset;
        }
